html {
  font-size: 1rem;
}

body {
  background-color: hsl(185, 41%, 84%);
  margin: 0;
  font-family: 'Space Mono', monospace;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

.app {
  margin: 0 auto;
  background: hsl(0, 0%, 100%);
  border-radius: 18px;
  padding: 0 1em;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

.form-section .columns {
  display: flex;
}

.col-1,
.col-2 {
  width: 100%;
}

.logo img {
  display: block;
  margin: 0 auto;
  padding: 2em 0;
}

.form-section {
  padding-top: 2em;
  padding-right: 0.7em;
  padding-bottom: 0.8em;
  padding-left: 0.7em;
  max-width: 92%;
}

input {
  font-size: 24px;
  margin: 0.5rem 0 1.5rem;
  font-family: 'Space Mono', monospace;
}

.grid input {
  width: 210px;
}

input:hover,
input:focus {
  cursor: pointer;
}

input[type='number']#bill-value {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
}

input[type='number']#bill-value::after {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

input[type='number']#people-value {
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
}

input[type='number']#people-value::after {
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

label {
  font-weight: 700;
  opacity: 0.7;
}

#bill-value,
#people-value {
  width: 100%;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  text-align: right;
  padding: 0.4em;
}

#bill-value,
#people-value,
#custom {
  border: none;
  background: hsl(189, 41%, 97%);
  border-radius: 4px;
}

#bill-value:hover,
#bill-value:focus {
  border: 2px solid hsl(172, 67%, 45%);
}

#custom {
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  padding: 0.7rem 1.2rem;
  width: 82%;
  border-radius: 6px;
  text-align: end;
}

#custom:hover,
#custom:focus {
  border: 2px solid hsl(172, 67%, 45%);
}

.tip-btns {
  margin-bottom: 5px;
  width: 90%;
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: 1px solid hsl(183, 100%, 15%);
  font-weight: 700;
  padding: 0.7rem 1.2rem;
}

.tip-btns:hover,
.tip-btns:focus {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.people-form {
  margin-top: 1rem;
}

.calculations {
  background: hsl(183, 100%, 15%);
  color: hsl(172, 67%, 45%);
  border-radius: 18px;
  padding: 45px;
}

.calculations .columns {
  display: flex;
  flex-direction: row;
  margin: 1.3rem 0;
}

.calculations span {
  display: block;
  color: hsl(184, 14%, 56%);
  font-size: 12px;
}

.calculations .amount-text {
  color: white;
}

.calculations .dollar-tip,
.calculations .dollar-total {
  font-size: 30px;
  text-align: end;
  font-weight: 700;
}

.reset-btn {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 6px;
  border: none;
}

.reset-btn:hover,
.reset-btn:focus {
  cursor: pointer;
  background-color: hsl(185, 41%, 84%);
}

.reset-btn-disabled {
  background: hsl(183, 98%, 24%);
}

.reset-btn-disabled:hover,
.reset-btn-disabled:focus {
  cursor: not-allowed;
  background: hsl(183, 98%, 24%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.grid {
  grid-template-columns: repeat(2, 3fr);
  display: grid;
  margin: 0 auto;
  grid-row-gap: 5px;
  grid-column-gap: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.errorMsg {
  color: red;
  opacity: 0.7;
  margin-right: 15px;
  font-weight: 700;
}

@media (min-width: 675px) {
  .grid {
    grid-template-columns: repeat(3, 2fr);
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }

  .container-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    margin: 20px 200px;
  }

  .form-section,
  .calculations {
    width: 100%;
  }

  .calculations {
    margin: 33px 20px;
    display: flex;
    flex-direction: column;
  }

  .reset-btn {
    margin-top: auto;
  }

  #custom {
    width: 68%;
  }

  input {
    max-width: 93%;
  }

  .grid input {
   width: 150px;
  }
}
