html {
  font-size: 1rem;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  margin: 0;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  /* padding: 20px 200px; */
}

.app {
  margin: 0 auto;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 0 1em;
}

/* .container-flex {
  display: flex;
  flex-direction: column;
} */

/* .form {
  display: flex;
  flex-direction: column;
} */

/* @media (min-width: 375px) {
  .container-flex {
    flex-direction: row;
  }
} */

.columns {
  display: flex;
  /* justify-content: space-between; */
}

.col-1,
.col-2 {
  width: 100%;
}

.logo img {
  display: block;
  margin: 0 auto;
  padding: 2em 0;
}

.form-section {
  padding: 2em 1em;
}

.bill-form ::placeholder {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.people-form ::placeholder {
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

label {
  width: 100%;
}

#bill-total,
#people-total {
  width: 100%;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  text-align: right;
  padding: 0.4em;
}

#bill-total,
#people-total,
#custom {
  border: none;
  background: hsl(189, 41%, 97%);
  border-radius: 4px;
}

input {
  font-size: 24px;
}

input:hover,
input:focus {
  cursor: pointer;
}

#custom {
  width: 100%;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

.tip-btns {
  width: 100%;
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: 1px solid hsl(183, 100%, 15%);
  font-weight: 700;
}

.tip-btns:hover,
.tip-btns:focus {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.calculations {
  background: hsl(183, 100%, 15%);
  color: hsl(172, 67%, 45%);
  border-radius: 10px;
  padding: 20px;
}

.reset-btn {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 4px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
